<ul>
  <p>--------------------------------------</p>
  <li>
    <p>Title: {{title}}</p>
  </li>
  <li>
    <p>Status: {{status}}</p>
  </li>
  <li>
    <p>Amount: {{amount}}</p>
  </li>
  <p>--------------------------------------</p>
</ul>