<div class="rounded">
  <ul class="{{#if isDue}}overdue{{/if}}">
    <li>
      <p>Title: {{title}} {{#if isDue}}(Overdue){{/if}}</p>
    </li>
    <li>
      <p>Status: {{status}}</p>
    </li>
    <li>
      <p>Amount: {{amount}}</p>
    </li>
    <li>
      <p>Due Date: {{dueDate}}</p>
    </li>
    <hr>
  </ul>
</div>