<ul>
  <li>
    <p>Transaction No: {{transaction}}</p>
  </li>
  <li>
    <p>Status: {{status}}</p>
  </li>
  <li>
    <p>Amount: {{amount}}</p>
  </li>
  <li>
    <p>Date: {{createdAt}}</p>
  </li>
  
  <button class="btn aqua-gradient">Make Payment</button>
  <hr>
</ul>