<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!-- <h1>{{msg}}</h1> --}}

        {{!-- NavBar --}}
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1">
          <a class="navbar-brand" href="/">BillY</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/signup">Sign Up<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signin">Sign In</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
              <li class="nav-item avatar">
                <a class="nav-link p-0" href="/account/1">
                  <img src="https://i.imgur.com/nz9HEYW.jpg" class="rounded-circle z-depth-0"
                    alt="avatar image" height="35">
                </a>
              </li>
            </ul>
          </div>
        </nav>

        {{!-- Main Body --}}
        <img class="logo" src="https://i.imgur.com/EczUgY1.jpg">
        
        <hr>
        <div class="row">
          {{!-- Pie Chart --}}
          <div class="col-md-8">
            <canvas id="myChart"></canvas>
          </div>
          {{!-- Right Side --}}
          <div class="col-md-4">
            <div id="rightSide" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <i class="fas fa-address-book fa-7x"></i>
                </div>
                <div class="carousel-item">
                  <i class="far fa-address-card fa-7x"></i>
                </div>
                <div class="carousel-item">
                  <i class="fas fa-book fa-7x"></i>
                </div>
              </div>
            </div>
            <div id="rightInfo">
              <p>
                Bill tracking web application to view and pay your tickets/bills/fines at one place as well as see previously paid bills. BillY allows users to see all the tickets/fines/bills and track their status as well as see the statistic of financial activity. WIth BillY you are always aware of your debts.
              </p>
            </div>
          </div>

        </div>

        {{!-- <div class="spacer">
          <h2>Try for yourself!</h2>
        </div>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Bill Entry</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Bill Amount</label>
            <input class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Amount"></input>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each bills}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="Bills/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">Paid</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div> --}}
  </div>
  </div>
  </div>
  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4 spacer">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Contact Us</h5>
          <p>
            Making BillY more than just an assistant, we aimed to make you something fun. Who said responsibility can't be cool?
          </p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
          <div class="col-md-6 mb-md-0 mb-6">
            <h5 class="text-uppercase">Developers</h5>
            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/Hellsrevenge">Varvara</a>
              </li>
              <li>
                <a href="https://github.com/mpoblete27">Mickey</a>
              </li>
              <li>
                <a href="https://github.com/jarrenpatao">Jarren</a>
              </li>
            </ul>

          </div>

      </div>
    </div>
    <div class="footer-copyright text-center py-3">
      © 2019 Copyright
    </div>
  </footer>
  
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/js/mdb.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript" src="/js/chart.js"></script>
<script type="text/javascript" src="/js/index.js"></script>